body {
    position: relative;
}

nav, .page-footer {
    background: #0c0d16;
}

#s4nav {
  border-top: 1px dashed lime;
  padding-top: 5px;
}

@media only screen and (max-width: 600px) {
  .home-link {
    width: 100%;
  }

  #s4nav {
    margin-top: 10px;
    padding: 5px;
    border-top: 1px solid lime;
  }
}

@media only screen and (min-width: 600px) {
  .home-link {
    position: absolute;
  }
}

.navbar-toggler-icon {
    color: lime;
}

#entireBody {
    margin-top: 6rem;
}

a {
    color: lime;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: black;
    background-color: lime;
}

hr {
    border-top: 1px solid white;
    margin-top: 4rem;
}

button {
    margin: 3px;
}

.spacer {
    border: 0;
    margin: 4rem;
}

.page-footer {
    margin-top: 3rem;
    border-top: 1px solid #714cdf;
    border-radius: 0;
}


/* Spinner CSS: https://tobiasahlin.com/spinkit/ */

#spinner {
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    margin: 20rem auto;
  }

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: lime;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }